.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2 20px;
    border: 1px solid black;
    align-items: center;
}
.logo{
    width :100px;
    cursor: pointer;
}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
.search-container input{
    min-width: 250px;
    padding: 10px;
}
.search-container input:focus{
    outline: 0;
}
.search-button{
    padding: 10px 15px;
    cursor: pointer;
}
.search-container{
    padding: 10px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0 40px;
  }
  
  .res-card {
    width: 200px;
    /* height: 300px; */
    padding: 5px;
    /* padding-bottom: 20px; */
    border: 1px solid transparent;
  }
  
  .res-card:hover {
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .res-logo {
    width: 100%;
  }
  
  